<div class="show_container">
  <h2><%= @cocktail.name  %></h2>
  <div class="show_cocktail">
    <div>
      <%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fit %>
    </div>
      <br>
      <br>
    <div>
      <% @cocktail.doses.each do |dose| %>
        <p><%= dose.description %> <%= dose.ingredient.name %></p>
      <% end %>
    </div>
    <div>
      <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: 'are you sure?'}, class: "btn btn-info" %></p>

      <h4><%= link_to "Change recipe", edit_cocktail_path(@cocktail), class: "btn btn-primary" %></h4>
    </div>
  </div>
  <div id="reviews">
    <h3>
      <%= pluralize @cocktail.reviews.size, "review" %>
    </h3>
    <% if @cocktail.reviews.blank? %>
      Be the first to leave a review for <%= @cocktail.name %>
    <% else %>
      <% @cocktail.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
  </div>
    <br>
    <br>

  <%= render 'reviews/form', cocktail: @cocktail, review: @review %>
    <br>
  <%= link_to "Home", cocktails_path, class: "btn btn-primary" %>
  <hr>
</div>


